.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.post {
    margin: 2rem;
    max-width: 1000px;
    background-color: #fff;
    border-radius: 8px;
    padding: 2rem;
    transition: box-shadow 0.3s ease;
}

.postInfo {
    display: flex;
    align-items: center;
    gap: 4rem;
    margin: 1rem 0;
}

.postImage {
    width: 1000px;
    height: 400px;
    object-fit: contain;
    border-radius: 5px;
}

.postTitle {
    font-size: 2rem;
    font-family: 'Merriweather', sans-serif;
    margin: 10px 0;
}

.postSubtitle {
    color: #777;
}

.postInteractions {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    transition: color 0.3s ease, transform 0.3s ease;
}

.likeBtn,
.commentBtn {
    font-size: 1.25rem;
    color: black;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.likeBtn:hover,
.commentBtn:hover {
    transform: scale(1.1);
    color: #777;
}

.tags {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.tag {
    font-size: 0.8rem;
    background-color: lightgray;
    color: rgb(100, 100, 100);
    border-radius: 5px;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    transition: color 0.3s ease;
}

.tag:hover {
    color: black;
}